body{
    width: 1100px;
    margin: auto;
}
.logo{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(47, 191, 240);
    height: 100px;
}

.titolo{
    font-size: 50px;
    margin-bottom: 5px;
}

.scrittore{
    font-size: 20px;
    color: grey;
    margin-top: 5px;
}

.nome-scrittore{
    font-size: 25px;
    color: lightskyblue;
}

.date{
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}

.descrizione-foto{
    font-size: 20px;
    margin-top: 2px;
}

.paragrafo, .lista{
    font-size: 25x;
}

.evidenziato{
    background-color: yellow;
}

.riga-intestazione{
    background-color: lightskyblue;
    color: white;
    /* font-size: 10px; */
    height: 5px;
    text-align: left;
}

.bg-table{
    background-color: lightblue;
}

.foto-consigliate-one, .foto-consigliate-two{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 10px;
}

.foto-consigliate-one{
    background-image: url("../img/monitor.jpg");
}
.foto-consigliate-two{
    background-image: url("../img/graph.jpg");
}

.titolo-foto{
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}